---
layout: default
permalink: /
---

 {% include index/hero.html %}

 {% comment %}{% include index/about.html %}{% endcomment %}

 {% comment %}{% include index/statistic.html %}{% endcomment %}

 {% include index/latest-news.html %}

 {% comment %}{% include index/rockstar-speakers.html %}{% endcomment %}

 {% include index/location-map.html %}

 {% comment %}{% include index/venue.html %}{% endcomment %}
 
 {% comment %}{% include index/twitter-feed.html %}{% endcomment %}

 {% comment %}{% include index/subscribe.html %}{% endcomment %}

 {% comment %}{% include index/tickets.html %}{% endcomment %}

 {% include index/tickets-2.html %}

 {% include index/partners.html %}